.nav {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: fit-content;
    display: inline-flex;
};

.nav-center {
    float: left;
}

li {
    list-style: none;
    display: inline-flex;
    font-size: medium;
    font-family: fantasy;
    padding: .5rem;
    border: 2px solid blue;
    border-radius: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: beige;
    border-radius: 5px;
    text-align: center;
}

.btn {
    background-color: black;
    color: aquamarine;
}